extends ../layout

block body
  .row
    h1
      small Membro:
      |  #{person.name}
    strong= err
    span error
    form(action='/person/save/' + person.id)
      .columns
        label Nome
        input.expand(name='name',type='text',value=person.name)
      .columns
        label Dias da semana
        each desc, i in days
          label
            input.expand(name='days',type='checkbox',value=i,checked=person.days.indexOf(i) > -1)
            strong #{desc}
          br
      .columns
        button Salvar
